<%- include("header") -%>
        </div>

        <div class="header-hero">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10 mx-auto">
                        <div class="left-hero">
                            <div class="hero-text">
                                <h1><span class="orange-text">Anek</span>ta<br>Main <span class="orange-text">Ek</span>ta</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                            <div class="hero-btn">
                                <a href="#" class="btn btn-full">subscribe</a>
                                <a href="#" class="btn btn-ghost">learn more</a>
                            </div>
                        </div>
                    </div>

                    <!-- right side -->
                    <div class="col-lg-6 col-10 mx-auto">
                        <img src="hero-image.png" alt="hero-festival-image">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="section-festivals">
        <div class="container">
            <h2 class="section-title">upcoming festivals</h2>

            <div class="card mb-3" style="max-width: 100%;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="diwali-fest.jpg" class="img-fluid rounded-start" alt="diwali-fest">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title"><%= festival.name %></h5>
                      <p class="card-text"><%= festival.date %></small></p>
                      <p class="card-text"><%= festival.description %></p>
                      <a href="#" class="btn btn-full">read more</a>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </section>

    <section class="festival-form" id="festival_form">
      <form class="" action="/" method="post">
        <div class="container">
            <div class="form-card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">



                            <label for="fname"  class="form-label input-title">First Name</label>
                            <input type="text" class="form-control input-box" id="fname" placeholder="John">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="lname" class="form-label input-title">Last Name</label>
                            <input type="text" class="form-control input-box" id="lname" placeholder="Wick">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="emailID" class="form-label input-title">Email ID</label>
                            <input type="email" class="form-control input-box" id="emailID"
                                placeholder="name@example.com">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="phoneNumber" class="form-label input-title">Mobile No.</label>
                            <input type="tel" class="form-control input-box" id="phoneNumber"
                                placeholder="+91 98765 43210">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="fistivalName" class="form-label input-title">Name of The Festival</label>
                            <input type="email" class="form-control input-box" id="fistivalName" placeholder="Diwali">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="timeFestical" class="form-label input-title">When It's Celeberated</label>
                            <input type="text" class="form-control input-box" id="timeFestical"
                                placeholder="Near October or November">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="fistivalPlace" class="form-label input-title">Where it's Celeberated</label>
                            <input type="email" class="form-control input-box" id="fistivalPlace"
                                placeholder="All over India">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="fistivalImage" class="form-label input-title">Paste Image Link of the Festival</label>
                            <input type="url" class="form-control input-box" id="fistivalImage"
                                placeholder="https://example.com/">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <label for="festivalArtical" class="form-label input-title">Information about Festival</label>
                        <textarea class="form-control input-box textarea-box" id="festivalArtical" rows="10"></textarea>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" class="btn btn-full submit-btn fest-article-btn">
                </div>
            </div>
              </form>
    </section>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>
