<%- include('header') -%>
<h3 class="text-center">Products from Local Sellers <br><span>according to festivals<span></h3>
<h4 class="text-center"><em>Vocal for Local</em></h4>
<!-- <div class="d-flex">
  <div class="card m-2">
  <img src="OIP.jpg" alt="">
  <input class="btn" type="button" name="" value="Contact Seller">
  </div>

  <div class="card m-2">
  <img src="OIP (1).jpg" alt="">
  <input class="btn" type="button" name="" value="Contact Seller">
  </div>

  <div class="card m-2">
  <img src="OIP (2).jpg" alt="">
  <input class="btn" type="button" name="" value="Contact Seller">
  </div> -->
  <section class="festival-products">
          <div class="container">
              <h3 class="fest-title">Products</h3>
              <p class="date">Vocal For Local</p>
              <div class="line"></div>
              <div class="row">
                  <div class="card" style="width: 18rem;">
                      <img src="https://i.pinimg.com/originals/65/d2/58/65d25818d991d3f191f0ae506c8f9787.jpg" class="card-img-top" alt="...">
                      <div class="product-card-body">
                          <h5 class="product-card-title">Card title</h5>
                          <p class="product-card-text">Some quick example text to build on the card title and make up the
                              bulk of the card's content.</p>
                          <a href="#" class="btn btn-full">buy</a>
                      </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                      <img src="form-image.jpg" class="card-img-top" alt="...">
                      <div class="product-card-body">
                          <h5 class="product-card-title">Card title</h5>
                          <p class="product-card-text">Some quick example text to build on the card title and make up the
                              bulk of the card's content.</p>
                          <a href="#" class="btn btn-full">buy</a>
                      </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                      <img src="form-image.jpg" class="card-img-top" alt="...">
                      <div class="product-card-body">
                          <h5 class="product-card-title">Card title</h5>
                          <p class="product-card-text">Some quick example text to build on the card title and make up the
                              bulk of the card's content.</p>
                          <a href="#" class="btn btn-full">buy</a>
                      </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                      <img src="form-image.jpg" class="card-img-top" alt="...">
                      <div class="product-card-body">
                          <h5 class="product-card-title">Card title</h5>
                          <p class="product-card-text">Some quick example text to build on the card title and make up the
                              bulk of the card's content.</p>
                          <a href="#" class="btn btn-full">buy</a>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="card" style="width: 18rem;">
                      <img src="form-image.jpg" class="card-img-top" alt="...">
                      <div class="product-card-body">
                          <h5 class="product-card-title">Card title</h5>
                          <p class="product-card-text">Some quick example text to build on the card title and make up the
                              bulk of the card's content.</p>
                          <a href="#" class="btn btn-full">buy</a>
                      </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                      <img src="form-image.jpg" class="card-img-top" alt="...">
                      <div class="product-card-body">
                          <h5 class="product-card-title">Card title</h5>
                          <p class="product-card-text">Some quick example text to build on the card title and make up the
                              bulk of the card's content.</p>
                          <a href="#" class="btn btn-full">buy</a>
                      </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                      <img src="form-image.jpg" class="card-img-top" alt="...">
                      <div class="product-card-body">
                          <h5 class="product-card-title">Card title</h5>
                          <p class="product-card-text">Some quick example text to build on the card title and make up the
                              bulk of the card's content.</p>
                          <a href="#" class="btn btn-full">buy</a>
                      </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                      <img src="form-image.jpg" class="card-img-top" alt="...">
                      <div class="product-card-body">
                          <h5 class="product-card-title">Card title</h5>
                          <p class="product-card-text">Some quick example text to build on the card title and make up the
                              bulk of the card's content.</p>
                          <a href="#" class="btn btn-full">buy</a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
</div>
