<%- include('header') -%>
<h3 class="text-center">Products from Local Sellers <br><span>according to festivals<span></h3>
<h4 class="text-center"><em>Vocal for Local</em></h4>
<div class="d-flex">
  <div class="card m-2">
  <img src="OIP.jpg" alt="">
  <input class="btn" type="button" name="" value="Contact Seller">
  </div>

  <div class="card m-2">
  <img src="OIP (1).jpg" alt="">
  <input class="btn" type="button" name="" value="Contact Seller">
  </div>

  <div class="card m-2">
  <img src="OIP (2).jpg" alt="">
  <input class="btn" type="button" name="" value="Contact Seller">
  </div>

</div>
