<%- include("header") -%>

<section class="festival-form">
        <div class="container">
            <div class="form-card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="fname" class="form-label input-title">First Name</label>
                            <input type="text" class="form-control input-box" id="fname" placeholder="John">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="lname" class="form-label input-title">Last Name</label>
                            <input type="text" class="form-control input-box" id="lname" placeholder="Wick">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="emailID" class="form-label input-title">Email ID</label>
                            <input type="email" class="form-control input-box" id="emailID"
                                placeholder="name@example.com">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="phoneNumber" class="form-label input-title">Mobile No.</label>
                            <input type="tel" class="form-control input-box" id="phoneNumber"
                                placeholder="+91 98765 43210">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="fistivalName" class="form-label input-title">Name of The Festival</label>
                            <input type="email" class="form-control input-box" id="fistivalName" placeholder="Diwali">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="timeFestical" class="form-label input-title">When It's Celeberated</label>
                            <input type="text" class="form-control input-box" id="timeFestical"
                                placeholder="Near October or November">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="fistivalPlace" class="form-label input-title">Where it's Celeberated</label>
                            <input type="email" class="form-control input-box" id="fistivalPlace"
                                placeholder="All over India">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="fistivalImage" class="form-label input-title">Paste Image Link of the Festival</label>
                            <input type="url" class="form-control input-box" id="fistivalImage"
                                placeholder="https://example.com/">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3">
                        <label for="festivalArtical" class="form-label input-title">Information about Festival</label>
                        <textarea class="form-control input-box textarea-box" id="festivalArtical" rows="10"></textarea>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-full submit-btn fest-article-btn">submit</button>
                </div>
            </div>
    </section>
